/*Desktop/Large Screen*/

 body {
  margin-top: 100px;
} 

p, h1 {
    font-family: 'Roboto Slab', serif;
}

img {
	border-radius: 2%;
}

/*Mobile*/

@media (max-width: 480px) {
    body {
    	margin-top: 20px;
    }

    .mt {
    	margin-top: 10px;
    }
}


